@import "tailwindcss";



@custom-variant dark (&:where(.dark, .dark *));

body {
     overflow-x: hidden;
     min-height: 100vh;
     font-family: 'Inter', sans-serif;
     /* font-family: Satoshi, "Satoshi Fallback", "sans-serif" !important; */
     /* font-family: "Roboto Condensed", serif; */
}

/* @layer utilities {
     input:-webkit-autofill {
          background-color: transparent !important;
          box-shadow: 0 0 0 30px white inset !important;
     }
} */

html {
     scroll-behavior: smooth;
}

body.swal2-shown {
     overflow: auto !important;
     padding-right: 0px !important;
   }
   

/* ::-webkit-scrollbar{
     display: none;
} */



@theme {
     --color-primary: #155dfc;
     --color-secondary: #fff;
     --color-primary-hover: #1447e6;
     --color-sidebar-hover: ;
     --color-light-bg: #f6f8fb;
     --color-dark-table-bg: #202020;
     --color-dark-primary: #191919;
     --color-dark-secondary: #202020;
     --color-dark-box-bg: #232323;
     /* --color-sidebar-dark : #212529; */
     --color-sidebar-dark: #171717;
     --color-sidebar-dark-active: #282828;


     /* #061421 */

     --box-shadow-custom: 0 0px 12px rgba(30, 10, 58, 0.04);
     --shadow-custom: 0 0px 12px rgba(30, 10, 58, 0.04);
     --shadow-dark-custom: 0 0px 20px rgba(30, 10, 58, 0.09);
     --shadow-full-shadow: 0 0 10px rgba(82, 85, 90, 0.08);

     --text-md: 14px;
     --text-xxs : 11px;

     --font-roboto : "Roboto Condensed", serif;
}



/* .button {
     padding: 8px 20px;
     color: #fbbd68;
     border-radius: 20px;
     font-size: 15px;
     font-weight: bold;
     display: flex;
     gap: 10px;
     justify-content: center;
     align-items: center;
     transition: all 1s ease-in-out;
} */

.button:focus {
     border: 4px solid #121212;
     background: #171717;
     box-shadow: inset 4px 4px 5px black, inset -3px -3px 0px #343434;
}

.button {
     border: 4px solid #242424;
     background: #212121;
     box-shadow:
          inset -2px -2px 4px #0e0e0e, inset 2px 2px 4px #000;
}


/* .button {
     padding: 8px 20px;
     color: #fbbd68;
     border-radius: 20px;
     font-size: 15px;
     font-weight: bold;
     display: flex;
     gap: 10px;
     justify-content: center;
     align-items: center;
     border: 3px solid #242424;
     background: #212121;
     transition: all 0.5s;
}

.button:focus {
     outline: none;
}

.button{
     box-shadow: 4px 4px 10px #000, -4px -4px 10px #242424,
          inset -2px -2px 4px #0e0e0e, inset 2px 2px 4px #000;
}

.button:hover {
     color: #66c1fa;
     cursor: pointer;
     border: 3px solid #66c1fa;
} */

.animate {
     animation: movingLine .7s linear infinite;
}

@keyframes movingLine {
     0% {
          translate: -100% -50%;
     }

     100% {
          translate: 200% -50%;
     }
}

button {
     @apply cursor-pointer
}

/* Custom Scrollbar */
/* ::-webkit-scrollbar {
     height: 10px;
     width: 10px;
}

::-webkit-scrollbar-track {
     background: white;
     border-radius: 5px;
}

::-webkit-scrollbar-thumb {
     background: #5fa5f5;
     border: 2px solid white;
     cursor: pointer;
     border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
     background: #357abd;
} */

.rich-text {
     font-size: 14px;
     color: #7A7B7D;
}

.rich-text p {
     margin-bottom: 16px;
     line-height: 25px;
}

.rich-text h1 {
     font-size: 36px;
     font-weight: 800;
     color: #252525;
     margin: 20px 0px;
}

.rich-text h2 {
     font-size: 18px;
     width: fit-content;
     padding-bottom: 5px;
     border-bottom: 2px solid skyblue;
     font-weight: 600;
     color: #252525;
     margin: 30px 0 25px 0;
}

.dark .rich-text h2 {
     color: white;
}

.rich-text h3 {
     font-size: 18px;
     font-weight: 600;
     color: #333333;
     margin: 20px 0px;
}

.rich-text h4 {
     font-size: 16px;
     font-weight: 500;
     color: #444444;
     margin: 20px 0px;
}

.rich-text h5 {
     font-size: 14px;
     font-weight: 400;
     color: #555555;
     margin: 20px 0px;
}

.rich-text h6 {
     font-size: 12px;
     font-weight: 400;
     color: #666666;
     margin: 20px 0px;
}

.rich-text strong {
     font-weight: 700;
}

.rich-text ol {
     margin-left: 30px;
     list-style-type: decimal;
}

.rich-text ul {
     margin-left: 30px;
     list-style-type: disc;
}

.rich-text li {
     margin-bottom: 8px;
}

.tool-trip {
     position: relative;
}

.tool-trip::before {

     @apply content-[attr(data-content)] text-sm absolute bg-black duration-300 text-white border border-gray-500 left-1/2 -translate-x-1/2 rounded-full px-3 bottom-[90%] opacity-0 pointer-events-none
}

.tool-trip::after {

     @apply content-[""] absolute bottom-[80%] duration-300 opacity-0 border-4 border-t-black text-white border-r-transparent border-l-transparent left-1/2 -translate-x-1/2
}

.tool-trip:hover::after {
     @apply bottom-full opacity-100
}

.tool-trip:hover::before {
     @apply bottom-[120%] opacity-100
}

.date-picker {
     width: 100%;
     display: flex;
}

.date-picker div {
     margin: 0;
     display: flex;
}

.date-picker input {
     font-size: 14px;
     padding: 9px 12px;
     color: #555555;
}















.recruiter-container .nav-link {
     @apply flex items-center p-3 py-3.5 sm:px-6 gap-3.5 w-full hover:bg-gray-100 dark:hover:bg-gray-400/10
}

.recruiter-container .nav-link.active {
     @apply bg-gray-400/10 border-r-4 border-blue-500
}

.view-application table {}


/* Style for the sorting arrows */
.rdt_TableCol_Sortable span {
     font-size: 7px !important;
     /* Reduce arrow size */
     width: 8px !important;
     height: 8px !important;
     display: inline-flex;
     align-items: center;
}

/* Adjust spacing between text and arrow */
.rdt_TableCol_Sortable {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 7px;
     /* Adjust space between text and arrow */
}


.hidden-scrollbar::-webkit-scrollbar {
     display: none;
}

.hidden-scrollbar {
     scrollbar-width: none;
     /* Hide scrollbar for Firefox */
}



.custome-search {
     border: 2px solid #ddd !important;
     /* color: red !important; */
     font-size: 10px !important;
     /* border-radius: 5px; */
     padding: 2px 10px !important;
     margin-bottom: 5px !important;
}

.custome-search div::before {
     outline: none !important;
     border: none !important;
}

.custome-search div::after {
     outline: none !important;
     border: none !important;
}

.custome-search svg {
     color: #333;
}

.custome-search input {
     margin: 0;
     width: 300px;
     font-size: 14px;
     color: #444;
}

.custome-search:focus-within {
     @apply ring-2 ring-blue-200 !border-blue-300;
     /* border: 2px solid blue !important; */
}

.menu-item {
     padding: 0 !important;
}

.menu-item button {
     color: #555;
     width: 100%;
     padding: 10px 16px;
     text-align: left;
     justify-content: start;
}



/* =================================== MANAGE JOBS CSS =================================== */

.action-btn {
     position: relative;
     overflow: hidden;
}

.action-btn::after {
     content: "";
     position: absolute;
     background: rgba(255, 255, 255, 0.6);
     width: 100%;
     top: 50%;
     left: 50%;
     translate: -50% -50%;
     height: 100%;
     opacity: 0;
     transform: scale(0);
     border-radius: 50%;
     transition: transform 0.05s, opacity 0.6s;
}

.action-btn:active::after {
     opacity: 1;
     transform: scale(1.5);
}








/* ================================ FOOTER ================================  */

.footer-link-container li {
     cursor: pointer;
     padding: 4px 0;
     width: fit-content;
     position: relative;
}

.footer-link-container li::before {
     content: "";
     position: absolute;
     height: 1.5px;
     width: 0;
     background: #155dfc;
     bottom: 0;
     transition: width .3s ease-in-out;
}

.footer-link-container li:hover {
     color: white;
}

.footer-link-container li:active {
     scale: 1.05;
}

.footer-link-container li:hover::before {
     width: 100%;
}





.category-box:hover {
     color: white;
}

.category-box:hover .category-overlay::before {
     transform: rotateX(0deg);
}

.category-box:hover .category-overlay {
     opacity: 1;
}

.category-overlay {
     transition: opacity .3s ease-in-out;
     opacity: 0;
}

.category-overlay::before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     transform: rotateX(90deg);
     width: 100%;
     height: 100%;
     transition: transform .3s ease-in-out;
     background: rgba(0, 0, 0, 0.5);
}




.nueomorphism {
     box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1), -4px -4px 5px white;
}


.nueomorphism:hover {
     box-shadow: inset 1px 1px 3px #BABECC, inset -2px -2px 6px white, 2px 2px 2px #EBECF0;
}





.tox-notifications-container{
     display: none !important;
}



/* Custome Radio Button */

.radio-btn input:checked ~ label{
     background-color: #51a2ff;
     color: white;
}









/*=================================== PROFILE PAGE CSS START ===================================  */

.input-label{
     @apply font-medium text-black/70 text-sm mb-1.5 w-fit
}

.input-field{
     @apply bg-gray-50 text-sm rounded-xs px-4 text-[#222] py-3 border border-gray-200 focus:outline focus:outline-primary

}


/*=================================== PROFILE PAGE CSS OVER ===================================  */
