.auth-container {
     min-height: 100vh;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.form-container {
     display: flex;
     flex-direction: column;
     width: 450px;
     border-radius: 10px;
     gap: 10px;
     padding: 40px 45px;
     background: white;
}

.form-container h1 {
     font-size: 27px;
     font-weight: bold;
     color: #444;
     text-align: center;
     margin-bottom: 20px;
}

.auth-container .input-box {
     position: relative;
     width: 100%;
     margin-bottom: 17px;
}

.auth-container .input-box label {
     position: absolute;
     top: 47%;
     left: 20px;
     font-size: 14px;
     color: #5c5c5c;
     padding: 0 4px;
     background-color: white;
     translate: 0 -50%;
     cursor: text;
     transition: all 0.3s;
}

.auth-container .input-box input {
     padding: 25px;
     height: 50px;
     width: 100%;
     font-size: 14px;
     border: 1px solid #c9c9c9;
     outline: none;
     color: #5c5c5c;
}

.auth-container .input-box input:-webkit-autofill {
     -webkit-box-shadow: 0 0 0 1000px white inset;
     box-shadow: 0 0 0 1000px white inset;
     -webkit-text-fill-color: #5c5c5c;
}

.auth-container input[type="text"]:focus,
.auth-container input[type="email"]:focus,
.auth-container input[type="password"]:focus,
.auth-container input[type="text"]:not(:placeholder-shown),
.auth-container input[type="email"]:not(:placeholder-shown),
.auth-container input[type="password"]:not(:placeholder-shown) {
     outline: 1px solid #028aec;
}

.auth-container .input-box input:focus+.floating-label,
.auth-container .input-box input:not(:placeholder-shown)+.floating-label {
     top: -1px;
     left: 17px;
     font-size: 13px;
     color: #028aec;
}

.error {
     color: red;
     font-weight: 400;
     font-size: 13px;
     position: absolute;
     top: 95%;
     display: none;
}

.success-icon {
     position: absolute;
     display: none;
     right: 20px;
     font-size: 25px;
     top: 50%;
     translate: 0 -50%;
}

.eye-icon {
     position: absolute;
     top: 50%;
     right: 12px;
     transform: translateY(-50%);
     font-size: 18px;
     color: #8b8b8b;
     cursor: pointer;
     pointer-events: all;
     padding: 5px;
}
/* 
.auth-container button {
     border: none;
     outline: none;
     height: 50px;
     width: 100%;
     color: white;
     background: linear-gradient(180deg, #168ff9, #0171d3);
     font-size: 16px;
     font-weight: 600;
     padding: 10px;
     margin-top: 10px;
     cursor: pointer;
}

.auth-container .form-container button:hover {
     background-color: #016dcb;
} */


.auth-container .form-container .form-link {
     margin: 10px 0;
     text-align: center;
}

.auth-container .form-container .form-link p {
     font-size: 14px;
     font-weight: 500;
     color: #232836;
}

.form-container .form-link span {
     color: #0171d3;
     text-decoration: none;
     cursor: pointer;
}

.form-container .form-link span:hover {
     text-decoration: underline;
}


.line {
     position: relative;
     height: 1px;
     width: 100%;
     margin: 10px 0;
     background-color: #d4d4d4;
}

.line::before {
     content: 'Or Login With';
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: #FFF;
     color: #8b8b8b;
     padding: 0 15px;
}

.form-container .field {
     position: relative;
     height: 50px;
     width: 100%;
     margin-top: 20px;
     border-radius: 6px;
}

.media-options {
     display: flex;
     gap: 15px;
}

.media-options div {
     display: flex;
     position: relative;
     align-items: center;
     gap: 15px;
     padding: 10px 20px;
     cursor: pointer;
     /* justify-content: center; */
}

.facebook {
     color: #fff;
     background-color: #4267b2;
}

.facebook .facebook-icon {
     height: 25px;
     width: 25px;
     font-size: 21px;
     color: #fff;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
}

img.google-img {
     height: 20px;
     width: 20px;
     object-fit: cover;
}

.google {
     border: 1px solid #CACACA;
     background-color: rgba(250, 250, 250, 1);
}

.google span {
     font-weight: 500;
     opacity: 0.6;
     color: #232836;
}

@media screen and (max-width: 400px) {
     .form {
          padding: 20px 10px;
     }

}